@import '_fonts';
@import '_buttons';

:host {
    width: 240px;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    cursor: pointer;

    .field {
        @include font(12px, medium, 15px, -.25);
        color: $secondary-dark-1;
    }

    .input {
        @include font(12px, bold, 15px, -.25);
        width: 240px;
        height: 48px;
        border: 1px solid $secondary-light-1;
        border-radius: 4px;
        caret-color: $primary-light-1;
        cursor: pointer;
        padding: 12px;

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus,
        &.panelIsOpen {
            border: 1px solid $primary-light-2;
        }
    }

    .icon {
        position: absolute;
        right: 0px;
        margin-right: 10%;
        top: 55%;

        &__svg {
            width: 11px;
            height: 7px;
        }
    }

    .content {
        @include font(12px, bold, 15px, -.25);
        width: 240px;
        position: absolute;
        border-radius: 8px;
        box-shadow: 0px 10px 20px hsla(232, 38%, 45%, 0.247);
        margin-top: 270px;
        z-index: 1;

        .el {
            color: black;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            border-bottom: .5px solid $secondary-light-1;

            &:hover {
                color: $primary-light-1;
            }

        }
    }

}
