<span class="field">
  <ng-content></ng-content>
</span>
<input
  class="input"
  [ngClass]="{ panelIsOpen: isActive }"
  type="text"
  [formControl]="control"
  readonly
/>
<img
  class="icon-calendar"
  src="../../assets/images/icon-calendar.svg"
  alt="Calendar"
/>
<div *ngIf="isActive" class="datepicker">
  <div class="datepicker__header">
    <img
      class="icon-arrow"
      src="../../assets/images/icon-arrow-left.svg"
      alt="Arrow left"
      (click)="setMonth(-1)"
    />
    <span class="title">Aug 2021</span>
    <img
      class="icon-arrow"
      src="../../assets/images/icon-arrow-right.svg"
      alt="Arrow right"
      (click)="setMonth(1)"
    />
  </div>
</div>
