<span class="field">
  <ng-content></ng-content>
</span>
<input
  class="input"
  [ngClass]="{ panelIsOpen: isActive }"
  type="text"
  [formControl]="control"
  readonly
/>
  <img
    class="icon-calendar"
    src="../../assets/images/icon-calendar.svg"
    alt="Plus icon"
  />
<div *ngIf="isActive" class="datepicker">
  <div class="datepicker__header">
    <img
      class="icon-arrow"
      src="../../assets/images/icon-arrow-left.svg"
      alt="Plus icon"
    />
    <span>21 Aug 2021</span>
    <img
      class="icon-arrow"
      src="../../assets/images/icon-arrow-right.svg"
      alt="Plus icon"
    />
  </div>
</div>
