// Colors
$primary-light-1: #7C5DFA;
$secondary-light-1: #DFE3FA;
$third-light-1: #EC5757;

$primary-light-2: #9277FF;
$secondary-light-2: #888EB0;
$third-light-2: #FF9797;

$primary-dark-1: #1E2139;
$secondary-dark-1: #7E88C3;
$third-dark-1: #F8F8FB;

$primary-dark-2: #252945;
$secondary-dark-2: #0C0E16;
$third-dark-2: #141625;

$pending: hsl(34, 100, 50);
$pending-bg: rgba(255, 145, 0, 0.1);
$paid: hsl(160, 67, 52);
$paid-bg: rgba(51, 215, 160, 0.1);
$draft: hsl(231,20,27);
$draft-bg: rgba(22, 21, 21, 0.1);
